h1 {
  color: lawngreen;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 50px;
}

div {
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 10px;
    padding: 10px;
  height: 200px;
  width: 500px;
  background-color: lightsalmon;
}
